<%= form_with model: @task, class: 'task-edit' do |f| %>
    <p>Edit the title and content of your task</p>

    <div>
        <%= f.label :title, "Please enter a title" %>
        <%= f.text_field :title, placeholder: "Grocery shop? Return library book?" %>
    </div>

    <div>
        <%= f.label :content, "Please enter a description of your task"%>
        <%= f.text_field :content, placeholder: "Return The Goldfinch to the Murray Hill Library" %>
    </div>

    <%= f.submit action_name %>    
    <% end %>