<%= form_with model: @task, class: 'task-form' do |f| %>
  <div>
    <%= f.label :title, "New Task:" %>
    <%= f.text_field :name, placeholder: "Homework" %>
  </div>

  <div>
    <%= f.label :description, "Description:" %>
    <%= f.text_field :description, placeholder: "make 20 flashcards" %>
  </div>

  <div>
    <%= f.label :completion_date, "Due Date:" %>
    <%= f.text_field :completion_date, placeholder: "Thursday August 1st" %>
  </div>

  <%= f.submit button_text %>

<% end %>