<%= form_with model: @task do |f| %>
<p><%= intro_text %></p>

<div class="form_field">
  <%= f.label :task_name %>
  <%= f.text_field :name, class: "text_field", id: "task_name" %>
</div>  
<div class="form_field">
  <%= f.label :description %>
  <%= f.text_field :description, class: "text_field" %>
</div>
  <%= f.submit action_name, class: "button", id: "submit_button" %>
<% end %>
