<div class="form">
<%= form_with model: @task, class: "task-form" do |f| %>
  <p>Please fill out this task information</p>
  <div class="place-holder-text-field">
  <%=f.label :name, "Enter name:" %>
  <%= f.text_field :name, placeholder: "Clean fridge" %>
  </div>
  <div class="place-holder-text-field">
    <%=f.label :name, "Enter description:" %>
  <%= f.text_field :description, placeholder: "only top shelf" %>
  </div>
  <div class="space"></div>
<%= f.submit "Save Task", class: "task-button"%>
<% end %>
</div>
<%= link_to 'Back', tasks_path, class: "back-button"%>
