<%= form_with model: @task, class: 'form-task' do |f| %>

<p><%= intro_text %></p>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit action_name, class: "task-submit-button" %>

<% end %>