<%= form_with model:@task, class: 'task-form' do |f| %>
  
  <p>Your Task</p>

  <div>
    <%= f.label :name, "Please enter a task name:"%>
    <%= f.text_field :name, placeholder: "meal prep for breakfast"%>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "overnight oats"%>
  </div>

  <div>
    <%= f.label :completion_date %>
    <%= f.text_field :completion_date, placeholder: "Jan 1, 2020"%>
  </div>

  <% end %>