<%= form_for @task do |f| %>

  <li class="list-group-item list-form-item">
  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %></br></li>
  <li class="list-group-item list-form-item">
  <%= f.label :description, "Description:" %>
  <%= f.text_area :description %></br></li>
  <li class="list-group-item list-form-item float-right">
  <button class="full btn-outline-success"><%= f.submit "Enter" %></button>
  </li>

<% end %></div>