<%= form_with model:@task, class: 'task-form' do |f| %>
    <p> Please provide the following information: </p>

    <div>
     <%= f.label :name %>
     <%= f.text_field :name%>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :completion_date %>
        <%= f.date_field :completion_date%>
    </div>

    <div>
        <%= f.submit button_text, class: "button form-button"%>
    </div>
<% end %>