<%= form_for @task do |f| %>

  <li class="list-group-item list-form-item"><%= f.label :title, "Title:" %>
  <%= f.text_field :title %></br></li>
  <li class="list-group-item list-form-item"><%= f.label :description, "Description:" %>
  <%= f.text_area :description %></br></li>
  <li class="list-group-item list-form-item float-right">
  <button class="btn btn-primary"><%= f.submit "Update" %></button>
  </li>
<% end %></div>