<%= form_with model: @task, class: 'task-form' do |f| %>
  <p class="form-instructions"><%= instructions %></p>

    <%= f.label :name, "Task name (required):", class: 'task-label'%>
    <%= f.text_field :name, placeholder: "Take out the TRASH", class: 'task-input'%>
 
    <%= f.label :description, "Task description:", class: 'task-label' %>
    <%= f.text_field :description, placeholder: "More details", class: 'task-input' %>
 
  <%= f.submit "Save", class: 'save-button' %>
<% end %>