<%= form_with model: @task, class: 'task-form' do |f| %>
<p> Please fill out the task information you would like to change: </p>
  <div>
  <%= f.label "Task name:" %>
  <%= f.text_field :name %>
  </div>

  <div>
  <%= f.label "Details to do:" %>
  <%= f.text_field :description %>
  </div>

  <div>
  <%= f.label "Due by:" %>
  <%= f.text_field :completion_date %>
  </div>
  
  <%= f.submit button_text %>
<% end %>