<h1>New Task</h1>
<%= link_to 'Back to tasks', tasks_path %>
<%= form_with model: @task do |f| %>
<ul>
  <li>Name: <%= f.text_field :name %></li>
  <li>Description: <%= f.text_field :description %></li>
</ul>
<%= f.submit "Save task" %>
<% end %>
