
<ul class="list-group d-flex justify-content-between">
<header><h1>Edit This Task</h1></header>
<%= form_for @task do |form| %>

  <li class="list-group-item list-form-item"><%= form.label :title, "Title:" %>
  <%= form.text_field :title %></br></li>

  <li class="list-group-item list-form-item"><%= form.label :description, "Description:" %>
  <%= form.text_area :description %></br></li>

  <li class="list-group-item float-right">
  <button type="button" class="btn-primary"><%= form.submit "Update" %></button>
  </li>
<% end %></div>