<h2>Edit Task Form</h2>

<%= form_with model: @task, class: 'task-form' do |f| %>
  <p>Please update this task's information</p>

  <div>
    <%= f.label :name, "Upadte task title" %>
    <%= f.text_field :name, placeholder: @task.name %>
  </div>

  <div>
    <%= f.label :description, "Update task description" %>
    <%= f.text_field :description, placeholder: @task.description %>
  </div>

    <div>
    <%= f.label :completion_date, "Update due date" %>
    <%= f.text_field :completion_date, placeholder: @task.completion_date %>
  </div>

  <%= f.submit "Update this task!" %>
<% end %>