<div class="container"><header><h1>Edit This Task</h1></header>
<%= form_for @task do |form| %>

  <%= form.label :title, "Title:" %>
  <%= form.text_field :title %></br>

  <%= form.label :description, "Description" %>
  <%= form.text_area :description %></br>

  <%= form.submit "Update" %>
<% end %></div>