<%= form_with model: @task do |f| %>
    <%= f %>
  <p>Please edit the form</p>
  <p>title is currently @task.title</p><%= f.text_field :title %>
  <!-- try f.label for some shit instead -->
  <p>description is currently</p><%= f.text_field :description %>
  <p>completion is currently #{f.completion}</p><%= f.text_field :completion %>
  <%= f.submit "Save Task", class: "task-button" %>
<% end %>