<h1>Edit Task </h1>


<%= form_for @task do |f| %>
    <p>Please enter the information you would like to edit</p>
    
    <div>
        <%= f.label :name, 'Please enter the desired name' %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label 'Please enter the task description' %>
        <%= f.text_area :description %>
    </div>

  <%= f.submit "Submit" %>

<% end %>
