<h2>Edit Task</h2>

<%= form_with model: @task, class: 'task-form' do |t| %>
  
  <div>
    <%= t.label :name, "Enter task name" %>
    <%= t.text_field :name %>
  </div>

  <div>
    <%= t.label :description, "Description" %>
    <%= t.text_field :description %>
  </div>

  <div>
    <%= t.label :completion, "completion date" %>
    <%= t.text_field :completion %>
  </div>

  <%= t.submit "Save changes" %>
<% end %>