<h2>Form for editing a task</h2>
<p>Make changes and click "Edit task"</p>

<%= form_with model: @task_to_edit, class: "edit-task" do |f| %>

<p>Please fill out the form below to make a new book</p>
<%= f.label :task_name %>
<%= f.text_field :task_name %>
<%= f.label :description %>
<%= f.text_field :description%>
<%= f.label :completed %>
<%= f.text_field :completed %>

<%= f.submit "Edit task", class: "edit-task-form_save-button" %>
<% end %>