<h2>Edit Task</h2>

<%= form_with model: @task, class: "edit-task-form" do |task| %>
  
  <div>
    <%= task.label :name, "Task name" %>
    <%= task.text_field :name%>
  </div>
  
  <div>
    <%= task.label :completion_date, "Due date" %>
    <%= task.text_field :completion_date %>
  </div>
  
  <div>
    <%= task.label :description, "Description" %>
    <%= task.text_field :description %>
  </div>
  
  <%= task.submit "Save changes" %>
  
<% end %>