<%= form_for @task do |f| %> 
  <div>
    <%= f.label :title, "New Task:" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, "Description:" %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :completion_date, "Due Date:" %>
    <%= f.text_field :completion_date %>
  </div>

  <%= f.submit "Edit task!" %>

<% end %>