<h1>Edit Task Form</h1>


<%= form_for @task, class: 'task-form' do |f| %>
  <p>Please fill out this task's information</p>

  <div>
    <%= f.label :name, "Please enter a name" %>
    <%= f.text_field :name, placeholder: "Task" %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "Description" %>
  </div>

  <div>
    <%= f.label :completion_date %>
    <%= f.text_field :completion_date, placeholder: "Completion Date" %>
  </div>

  <%= f.submit "Add it!" %>

<% end %>
