<h2>Edit Task Form</h2>

<%= form_with model:@task, class: 'task-form' do |f| %>
  <p>Please fill out this task's information </p>

  <div>
    <%= f.label :name, "Please enter a task name"%>
    <%= f.text_field :name%>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :completion_date %>
    <%= f.text_field :completion_date %>
  </div>
  <%= f.submit "Update the task!" %>

  <% end %>