<h2>Edit Task Form</h2>

<%= form_with model: @task, class: 'task-form' do |f| %>
  <p>Please edit appropriate fields</p>

  <div>
    <%= f.label :name, "Please enter a title" %>
    <%= f.text_field :name, placeholder: "A Task" %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "A Description" %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.text_field :date, placeholder: "A Due Date" %>
  </div>

  <%= f.submit "Shelve it!" %>

<% end %>