<h2>Edit Task</h2>

<%= form_with model: @task, class: "edit-task-form" do |f| %>
  <div>
    <%= f.label :name, "Task Name:" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, "Description:" %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :completion_date, "Deadline:" %>
    <%= f.text_field :completion_date %>
  </div>

  <%= f.submit "Update task" %>

<% end %>