<h1>Form for editing an existing Task</h1>
<%= link_to 'Back to all tasks', tasks_path %>
<%= form_with model: @task, class: 'edit-book' do |f| %>
<p> Please fill out this form to edit a task </p>
<ul>
  <li>Name: <%= f.text_field :name %></li>
  <li>Description: <%= f.text_field :description %></li>
  <%= f.submit "Save Task", class: "task-form_submit-btn"%>
</ul>
<% end %>
