<h2>Update Task Form</h2>

<%= form_with model: @task, class: 'Update_task' do |f| %>
<p><strong>Update Task Details Below</strong></p>

  <div>
    <%= f.label :name, "Name of Task:" %>
    <%= f.text_field :name, placeholder: @task.name %>
  </div>

  <div>
    <%= f.label :description, "Description:" %>
    <%= f.text_field :description, placeholder: @task.description %>
  </div>

    <div>
    <%= f.label :completion_date, "Completion Date:" %>
    <%= f.date_field :completion_date, placeholder: @task.completion_date %>
  </div>

  <%= f.submit "Update Task", class: 'update_class_button' %>

<% end %>