<h2>Edit A Task</h2>

<%= form_with model: @task, class: "edit_task" do |f| %>
<p>Please edit any task information by filling out the following form:</p>

<%# , :input_html => { :value => @task.name }  %>
  <%= f.label :name %>
  <%= f.text_field :name%>
  
  <%= f.label :description %>
  <%= f.text_field :description %>
 
  <%= f.submit "Edit Task", class: "task_button" %>
<% end %>

<%= link_to "Back to All Tasks", tasks_path %>
