<h1>This is my task list </h1>
<ol class="task-list">
  <% @tasks.each do |task| %>
    <li >
      <div class="<%= 'completed' if task.completion_date != nil %>">
      <%= link_to task.name, task_path(task) %>
      </div>
      <div>
        <%= link_to (task.completion_date ? "Unmark Complete" : "Mark Complete"), toggle_complete_path(task), method: :patch %> |
        <%= link_to "Edit", edit_task_path(task) %> |
        <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>

    </li>
    
  <% end %>
</ol>