
<ul class="list-group d-flex justify-content-between">
<header><h1> Tasktron 6000 </h1>
<p><%= link_to "New Task", new_task_path %></p>
</header>
    <% @tasks.each do |task| %>
    <li class="list-group-item flex-column align-items-start">
    <%= link_to "Complete", complete_task_path(task), method: :patch %>
    <%= link_to task.title, task_path(task.id) %>
    <div class="btn-group float-right" role="group">
    <button type="button" class="left btn-outline-success"><%= link_to "EDIT", edit_task_path(task[:id]) %></button>
    <button type="button" class="right btn-outline-danger"><%= link_to "DELETE", task, method: :delete, data: { confirm: "Really, though? This can't be undone." }%></button></div>
    </li>
<% end %></ul>