<section id="all_tasks">
<h4>All the tasks needed to be done!</h4>
<ul>
  <% @tasks.each do |task| %>
      <section id="list-tasks">
        <strong><%= link_to "Task #{task.id}", task_path(task.id) %></strong>
        <li>
         <%= link_to "Edit", edit_task_path(task.id) %>
        </li>
        <li>
          <%= task.name %>: 
          <%= task.description %>
        </li>
        <% if !task.completion_date.nil?%>
          <li>
            Task Completion Date:
            <%= task.completion_date %>
          </li>

      </section>
    <% end%>
  <% end %>
</ul>
</section>


