<h1>Tasks for Today:</h1>
<ul>
<% @tasks.each do |task| %>
    <li>
        <h2><%= link_to task.name, task_path(task.id) %></h2> 
        <h3><%= task.description %></h3> 
        <h3><%= "Completed? #{!task.completion_date.nil?}"%></h3> 
        <%= link_to "Edit Task", edit_task_path(task.id) %>
    </li>   
<% end %>
<ul>

<%= link_to 'Add another task!', new_task_path %>