<link rel="stylesheet" href="../assets/stylesheets/normalize.css">

<section id="left-column">
  <%= link_to "⊕ Add a new task", new_task_path %>
</section>

<ul class="front-page-list">
  <% @tasks.each do |task| %>
    <li>
      <% if !task.completed %>
        <div><%= link_to task.name, task_path(task.id) %></div>
        <%= button_to "Mark complete", { action: "mark_complete", id: task.id }, method: :patch %>
      <% else %>
        <div id="line-through"><%= link_to task.name, task_path(task.id) %></div>
        <%= button_to "Unmark complete", { action: "mark_complete", id: task.id }, method: :patch %>
      <% end %>
      <%= button_to "Edit", { action: "edit", id: task.id }, method: :get %>
      <%= button_to "Delete", { action: "destroy", id: task.id }, method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>






