<h1>YOUR TASKS ʕ•́ᴥ•̀ʔっ</h1>
<ol>
  <% @tasks.each do | task | %>
    <% if task[:completion_status] == false %>
      <li class="blank"><%=link_to task.name, task_path(task.id)%></li>
    <% else %>
      <li class="strike"><%=link_to task.name, task_path(task.id)%></li>
    <% end %>

    <ul>
      <li><%= "Description: #{task.description}" %></li>
      <li><%= "Completion Date: #{task.completion}" %></li>
      <p class = "task_actions">
        <% if task.completion_status %>
          <sub><%= link_to "Incomplete", toggle_path(task.id), method: :patch %></sub>
        <% else %>
          <sub><%= link_to "Completed", toggle_path(task.id), method: :patch %></sub>
        <% end %>

        <sub><%= link_to "Edit", edit_task_path(task.id) %></sub>
        <sub><%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: "Please confirm action" } %></sub>
      </p>
    </ul>

  <% end %>
</ol>
