<h1> Tasks </h1>
<table>
  <tr> 
    <th>Task</th> 
    <th>Description</th>
    <th>Due Date</th>
  </tr>
  <tr>
    <% @tasks.each do |task| %>
    <td> <%= link_to task.name, task_path(task) %> </td>
    <td> <%= task.description %> </td>
    <td> <%= task.completion_date %> </td>
  </tr>
  <% end %>
  <tr>
    <td>  <%= link_to "Add a NEW Task", new_task_path %> </td>
  </tr>
</table>



<%#
<ul class="task-list">
    <li> Task || Description || Due Date</li>
  <% @tasks.each do |task| %>
 <%#   <li><%= task.name %> <%#<%= task.description %> <%#<%= task.completion_date %><%#</li>
 <%# <% end %>
<%#</ul> %>