<h1 class="logo">Task List</h1>

<div class="list">

  <ol>
  <% @tasks.each do |task| %>
    <li class= "list-item">
    <h3>Task Type:  <%= link_to task.name, task_path(task.id) %>  </h3> 

    <p> Completion Date: <%= task.completion_date %> </p>

    <p> <%= link_to "Edit", edit_task_path(task.id)%> </p>

    <p> <%= link_to "Delete", task_path(task.id), method: :delete %> </p>
    <p> <%= link_to "Complete Task", complete_task_path(task.id), method: :patch %> </p>

    <% if task.completed? %>
         <p> 
           <strong>Completed.</strong>
         </p>
    <% end %>
    </li>
  <% end %>

  <h4 class="new-task"> <%= link_to "Create a new Task", new_task_path %> </h4>
  </ol>
 
</div>