<p id="notice">
<%= flash[:success] if flash[:success] %>
<%= flash[:error] if flash[:error] %>
</p>

<h1>Current Tasks:</h1>
<div id="add_task">
<%= link_to 'Add another task!', new_task_path, class:"add-task"%>
</div>
<div id="task-board">
<div id="to-do">
<h1>To Do</h1>
<ul>
<% incomplete_tasks = @tasks.select{|task| !task.date_completed}%>
<p><%= "All of your tasks have been completed!" if (incomplete_tasks.length == 0)%></p>
<% incomplete_tasks.each do |task| %>
    <li>
        <h2><%= link_to task.name, task_path(task.id) %></h2> 
        <h3>Description: <%=task.description %></h3> 
        <h3>Priority Level: <%= task.priority_level %></h3> 
        <h3><strong>Completed? </strong><%= "#{task.date_completed.nil? ? "No" : "Yes!" }"%></h3> 
        <p>
        <%= link_to "Edit Task", edit_task_path(task.id) %>
         | <%= link_to "Mark as Complete", toggle_complete_task_path(task.id, task: {date_completed: DateTime.now }), method: :patch %> | 
        <%= link_to "Delete Task", task_path(task.id), method: :delete, data: { confirm: "Sure?" } %>
        </p>
    </li>  
<% end %> 
</ul>
</div>

<div id="done"">
<h1>Done</h1> 
<ul>
<% completed_tasks = @tasks.select{|task| task.date_completed}%>
<p><%= "You haven't completed any tasks yet." if (completed_tasks.length == 0)%></p>
<% completed_tasks.each do |task| %>
    <li>
        <h2><%= link_to task.name, task_path(task.id) %></h2> 
        <h3>Description: <%= task.description %></h3>
        <h3>Priority Level: <%= task.priority_level %></h3> 
        <h3><strong>Completed? </strong><%= "#{task.date_completed.nil? ? "No" : "Yes!" }"%></h3> 
        <p>
        <%= link_to "Edit Task", edit_task_path(task.id) %>
         | <%= link_to "Mark as Incomplete", toggle_complete_task_path(task.id, task: {date_completed: nil }), method: :patch %> | 
        <%= link_to "Delete Task", task_path(task.id), method: :delete, data: { confirm: "" } %>
        </p>
    </li>  
<% end %>
</ul>
</div>
</div>
