<section class=index>
  <h1>Your Tasks</h1>

  <ul>
  <% @tasks.each do |task| %>
    <li>
    <a href="/tasks/<%=task.id%>">
      Task: <%= task.task_name %> 
      Description: <%= task.description %></a>
     
      <% if task.completed == false %>
          Not complete 
          <%= button_to "Mark complete", { action: "toggle_complete", id: task.id }, method: :patch %>
        <% else %>
        Complete
          <%= button_to "Unmark complete", { action: "toggle_complete", id: task.id }, method: :patch %>
        <% end %>
    </li>
  <% end %>
  </ul>
  <footer>
    <ul>
      <li><%= link_to "Create Task", new_task_path %></li>
      <li><%= link_to "All Tasks", tasks_path %></li>
    </ul>
  </footer>
  </section>

