<h1><%= link_to "TaskList", tasks_path %></h1>
<h2>just get it done!</h2>

<body>
    <section class="task_list">
        <div>
            <p class="button"><%= link_to "Add Task", new_task_path %></p>
        </div>
        <div class="task_list">
            <p>ToDo:</p>
            <ul>
            <% @tasks.each do |task| %>
                <li>
                    <%= task.name %>: <%= task.description %> Due: <%= task.completion_date %>
                </li>
                <li>
                    <%= link_to "Mark Complete", task_path(task.id), method: :mark_complete %> | 
                    <%= link_to "Edit", edit_task_path(task.id) %> | 
                    <%= link_to "Delete", task_path(task.id), method: :delete %>
                </li>
            <%end%>
            </ul>
        </div>
    </section>
</body>