<h1 class="logo">Task List</h1>

<div class="list">
  <div class="main">
    <ol>
    <% @tasks.each do |task| %>
      <li class= "list-item">
      <% if task.completed %>
          <strike><h3> Task Type:  <%= link_to task.name, task_path(task.id) %> </h3></strike>
          <p class="incomplete"> <%= link_to "Unmark Complete ", complete_task_path(task.id), method: :patch %> </p>
      <% else %> 
          <h3> Task Type:  <%= link_to task.name, task_path(task.id) %>  </h3> 
          <p class="complete"> <%= link_to "Mark Completed ", complete_task_path(task.id), method: :patch %> </p>
      <% end %>

        <p> <%= link_to "Edit", edit_task_path(task.id)%> </p>
        <p> <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %> </p>
      </li>
    <% end %>
    </ol>
  <div>
</div>


<div class="sidebar">
    <h4 class="all-tasks"> <%= link_to "All Tasks", tasks_path %> </h4>
    <h4 class="new-task"> <%= link_to "Create a new Task", new_task_path %> </h4>
</div>