<h1>Shamira's Tasks</h1>
<p>
<% @tasks %>
</p>
<ul class="list">
<% @tasks.each do |task| %>
  <li>
  <!-- fix anchor -->
 <%= link_to task.name, task_path(task.id)%>
    Details: <%= task.description%>, due <%= task.completion_date%> <%= link_to "Mark Complete", toggle_path(task.id), method: :patch, data: { confirm: "Mark Complete?" } %>
  </li>
  <li><%= link_to "Delete", task_path(task.id), method: :delete, data: { confirm: "Are you sure you want to delete?" } %></li>
      <li>
<% end %>

</ul>

<%= link_to "Add a task!", new_task_path, method: :get %>