<h2>Tasks</h2>

<p>You have <%= @tasks.length %> incompleted tasks</p>


<ul>
  <% @tasks.each do |task| %>
    <li>

      <strong>
      <%= link_to task.name, task_path(task.id) %>: 
      </strong>

      <%= task.description %>. Complete by: <%= task.complete_by %>
      <%= link_to "edit", edit_task_path(task.id) %>
      <%= link_to "delete", task_path(task), method: :delete, data: { confirm: "Delete #{task.name}?" } %>
      <%= link_to "complete", task_path(task), method: :put %>
    </li>
  <% end %>

<h2>Completed tasks</h2>
<p>You have <%= @completed_tasks.length %> completed tasks</p>

  <% @completed_tasks.each do |task| %>
    <li>

        <strong class="completed" >
        <%= link_to task.name, task_path(task.id) %>: 
        </strong>

      <%= task.description %>. Completed: <%= task.completed_on %>

      <%= link_to "delete", task_path(task), method: :delete, data: { confirm: "Delete #{task.name}?" } %>
      <%= link_to "add task", task_path(task), method: :put %>
    </li>
  <% end %>
</ul>