<h1>Welcome to TaskList</h1>

<ul>
<% @tasks.each do|task|%>
    <li>
    <%= link_to task.name, task_path(task.id)%>

    <% if task.completed == false %>
        <%= button_to "Mark Complete", {action: "mark_complete", id: task.id}, method: :patch %>
    <% else %>
        <%= button_to "Unmark Complete", {action: "mark_complete", id: task.id}, method: :patch %>   
    <% end %>

    <%= button_to "Delete Task", task_path(task.id), method: :delete, data: {confirm: "Are you sure?"} %>
    
    </li>
<% end %>
</ul>

<%= button_to "Create New Task ", new_task_path, method: :get %>
