<h2>Your Tasks</h2>
<ol>
  <% @tasks.each do |task| %>
  <% if task[:completion] == nil %>
    <li class="blank"><%=link_to task.name, task_path(task.id) %></li>
    <% else %>
    <li ><%=link_to task.name, task_path(task.id) %></li>
  <% end %>
    <ul>
      <p >
        <% if task[:completion].class == String %>
          <sub><%= link_to 'Not completed |', complete_task_path(task.id), method: :patch %></sub>
        <% else %>
          <sub><%= link_to 'Mark Completed |', complete_task_path(task.id), method: :patch %></sub>
        <% end %>


        <sub><%= link_to 'Edit |', edit_task_path(task.id) %></sub>
        <sub><%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Please confirm action?"} %></sub>
      </p>
    </ul>
  <% end %>
</ol>