
<h1>Hello, this is my task list</h1>

<p>There are <%= @tasks.length %> tasks to do.</p>


<ul>
<% @tasks.each do |task|%>
<li>
<%= task.name %> : <%= task.description %> , <%= task.completion_date%>
          <%= link_to "Edit", edit_task_path(task.id) %>
</li>
<% end %>
</ul>