<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      <strong><%= link_to task.name, task_path(task) %></strong>
      Description: <%= task.description %>
      Due date: <%= task.completion_date %>
      <%= link_to "Edit", edit_task_path(task) %>
      <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure you'd like to delete this task?" }%>
    </li>
  <% end %>
</ul>