<h1>TASKLIST</h1>
<h3 id="create-new"><%= link_to "Create new task", new_task_path %></h3>

<ol>
  <% @tasks.each do |task| %>
    <li>
      <strong>
        <% if (task.completed_at) == nil %>
          <h4 id="name-before"><%= link_to task.name, task_path(task) %></h4>
        <% else %>
          <h4 id="name-after"><strike><%= link_to task.name, task_path(task) %></strike></h4>
        <% end %>
      </strong>
      <ul>
        <li>
            <%= link_to "Edit", edit_task_path(task) %>
        </li>

        <li>
          
            <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: "Confirm deletion?"} %>
          
        </li>

        <li>
          <% if (task.completed_at) == nil %>
            <%= link_to "Mark Complete", toggle_path(task.id), method: :patch %>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
</ol>

