<h2>New Task Form</h2>

<%= form_with model: @task, class: 'task-list' do |f| %>
    <p>Fill out the title and content of your new task</p>

    <div>
        <%= f.label :title, "Please enter a title" %>
        <%= f.text_field :title, placeholder: "Grocery shop? Return library book?" %>
    </div>

    <div>
        <%= f.label :content, "Please enter a description of your task"%>
        <%= f.text_field :content, placeholder: "Return The Goldfinch to the Murray Hill Library" %>
    </div>

    <div>
        <%= f.label :completiondate, "Please enter a completion date of your task"%>
        <%= f.text_field :completiondate, placeholder: "4/11/19" %>
    </div>


    <%= f.submit "Submit" %>    
    <% end %>