<h2>New Task Form</h2>

<%= form_with model: @new, class: 'task-form' do |f| %>
  <p>Please add a task</p>

  <div>
    <%= f.label :task, "Please enter a task" %>
    <%= f.text_field :task, placeholder: "A Task" %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "Description of Task" %>
  </div>

  <%= f.submit "Shelve it!" %>

<% end %>