<h2>New Task Form</h2>

<%= form_with model: @task, class: 'task-form' do |f| %>
  <p>Please fill out this task's information</p>

  <div>
    <%= f.label :name, "Please enter the task name" %>
    <%= f.text_field :name, placeholder: "A task item" %>
  </div>

  <div>
    <%= f.label :description, "Please provide a description of the task" %>
    <%= f.text_field :description, placeholder: "Description of your task" %>
  </div>

  <div>
    <%= f.label :completed_date, "Please enter the date of deadline" %>
    <%= f.text_field :completed_date, placeholder: "Month Date, Year" %>
  </div>

  <%= f.submit "Submit task" %>

<% end %>