<%= form_with model: @task do |f| %>
    <%= @task.title %>
  <p>Please provide the following information to save your task to our database:</p>
  <p>title</p><%= f.text_field :title %>

  <p>description</p><%= f.text_field :description %>
  <p>completion (true or false)</p><%= f.text_field :completion %>
  <%= f.submit "Save Task", class: "task-button" %>
<% end %>

