<h1><%= link_to "TaskList", tasks_path %></h1>

<body class="new_task">
    <%= form_with model: @task, class: 'create-task' do |f| %>

    <p>Enter task:</p>
    <section>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </section>
    <section>
        <%= f.submit "Add Task", class: "task-form__submit-btn button" %>
    <% end %>
    </section>
</body>