<div class="container">
<ul class="list-group d-flex justify-content-between">
<header><h1>Create a New Task</h1></header>
<%= form_for @task do |form| %>
  <li class="list-group-item flex-column align-items-start"><%= form.label "Title:" %>
  <%= form.text_field :title %></li>
  <li class="list-group-item flex-column align-items-start"><%= form.label "Description:" %>
  <%= form.text_area :description %><br>
  <button class="btn btn-secondary"><%= form.submit "Create" %></button>
<% end %></li></ul>
</div>