<h2>New Task Form</h2>

<%= form_with model: @task, class: 'task-form' do |t| %>
  <p>Create the details for a new task</p>
  
  <div>
    <%= t.label :name, "Enter task name" %>
    <%= t.text_field :name, placeholder:'to-do'%>
  </div>

  <div>
    <%= t.label :description, "Description" %>
    <%= t.text_field :description, placeholder:'work'%>
  </div>

  <div>
    <%= t.label :completion, "completion date" %>
    <%= t.text_field :completion, placeholder:'2019-05-24'%>
  </div>

  <%= t.submit "Add" %>
<% end %>