<section class="tasks">
  <h2 class="sub_header">Create New Task</h2>
  <section class="form inner_scroll">
  <%= form_with model: @task, class: "create-tasks" do |f| %>
    <%= f.label :name%>
    <%= f.text_field :name%>
    
    <%= f.label :description%>
    <%= f.text_field :description%>

    <%= f.label :priorty%>
    <%= f.select :priorty, [*1..10]%>
  <%end%>
  </section>
</section>