<h2>Enter information about your new task below!</h2>

<%= form_with model: @task, class: "create-task" do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>


    <%# this will probably have to be something else%>
    <%= f.label :completed %>
    <%= f.text_field :completed %>

    <%= f.submit "Save Task", class: "task_submit"%>
<% end%>