<h2>New Task Form</h2>

<%= form_with model: @new_task, class: "add-task" do |f|%>
<p> Please fill out the task information: </p>
  <div>
  <%= f.label "Name:" %>
  <%= f.text_field :name, placeholder: "Your name" %>
  </div>

  <div>
  <%= f.label "To do:" %>
  <%= f.text_field :description, placeholder: "Task description" %>
  </div>
  
  <%= f.submit "Upload Task" %>
<% end %>