<h2>Edit Task Form</h2>

<%= form_with model: @task, class: 'task-form' do |f| %>
  <p>Please update this task's information</p>

  <div>
    <%= f.label :name, "Please enter a task name" %>
    <%= f.text_field :name, placeholder: "A Task" %>
  </div>

  <div>
    <%= f.label :description%>
    <%= f.text_field :description, placeholder: "Task description" %>
  </div>

  <%= f.submit "Create Task" %>
<% end %>