<h2>New Task Form</h2>

<%= form_with model: @task, class: 'task-form' do |f| %>
  <p>Please fill out this task's information</p>

  <div>
    <%= f.label :name, "Please enter a task name" %>
    <%= f.text_field :name, placeholder: "A Task" %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description , placeholder: "A Description of the Task" %>
  </div>

  <div>
    <%= f.label :deadline %>
    <%= f.text_field :deadline, placeholder: "Deadline" %>
  </div>

  <div>
    <%= f.label :priority_level %>
    <%= f.text_field :priority_level, placeholder: "Priority Level" %>
  </div>

  <%= f.submit "Add your Task" %>

<% end %>