<h2>Form for creating a new task</h2>


<%= form_with model: @task, class: "create-task" do |f| %>

<p>Please fill out the form below to make a new book</p>
<%= f.label :task_name %>
<%= f.text_field :task_name %>
<%= f.label :description %>
<%= f.text_field :description%>
<%= f.label :completion_date %>
<%= f.text_field :completion_date %>

<%= f.submit "Add task", class: "add-task-form_save-button" %>
<% end %>