<h2>New Task Form</h2>

<%= form_with model: @task, class: 'create_task' do |f| %>
<p><strong>Please fill out the details of your task</strong></p>

  <div>
    <%= f.label :name, "Name of Task:" %>
    <%= f.text_field :name, placeholder: "Do my taxes" %>
  </div>

  <div>
    <%= f.label :description, "Description:" %>
    <%= f.text_field :description, placeholder: "Get T4 forms" %>
  </div>

    <div>
    <%= f.label :completion_date, "Completion Date:" %>
    <%= f.text_field :completion_date, placeholder: "April 15 2019" %>
  </div>

  <%= f.submit "Create New Task", class: 'create_class_button' %>

<% end %>