<h2>New Task Form</h2>

<%= form_with model:@task, class: 'task-form' do |f| %>
  <p>Please fill out this task's information </p>

  <div>
    <%= f.label :name, "Please enter a task name"%>
    <%= f.text_field :name, placeholder: "A task name"%>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "Description"%>
  </div>

  <div>
    <%= f.label :completion_date %>
    <%= f.text_field :completion_date, placeholder: "Apr 20, 2019"%>
  </div>
  <%= f.submit "Create a task!" %>

  <% end %>
