<h2>Make a new task</h2>

<%= form_with model: @task, class: 'task-form' do |f| %>
  <p>Please fill out this task's information</p>

  <div>
    <%= f.label :name, "Task name:", class: 'task-label'%>
    <%= f.text_field :name, placeholder: "Take out the TRASH", class: 'task-input'%>
  </div>

  <div>
    <%= f.label :description, "Task description:", class: 'task-label' %>
    <%= f.text_field :description, placeholder: "More details", class: 'task-input' %>
  </div>

  <%= f.submit "Add to List" %>

<% end %>

