<h2>New Task Form</h2>

<%= form_with model: @task, class: 'task-form' do |f| %>
  <p>Gimme some sweet, sweet tasks!</p>

  <div>
    <%= f.label :name, "Task's name" %>
    <%= f.text_field :name, placeholder: "A tisket, a TASKet!" %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "Moar details pls" %>
  </div>

  <div>
    <%= f.label :completion_date %>
    <%= f.text_field :completion_date, placeholder: "Due date" %>
  </div>

  <%= f.submit "Record it!" %>

  <% end %>