<h2>Tasks details page</h2>
<p>Task name: <%= @task.name %></p>
<p>Task description: <%= @task.description %></p>
<% if task.completion_date %>
  <p>Due date: <%= task.completion_date %></p>
<% end %>
<p><%= link_to "Edit", edit_task_path(@task) %></p>
<p><%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure you'd like to delete this task?" }%></p>
<% if task.completed %>
  <p><%= link_to "Unmark Complete", complete_task_path(task), method: :post %></p>
<% else %>
  <p><%= link_to "Mark Complete", complete_task_path(task), method: :post %></p>
<% end %>