<h2>Task Details:</h2>

<ul class="show">
  <li> Task number: <%= @task[:id] %> </li>
  <li> Task description: <%= @task[:description]%> </li>
  <li> Task belongs to: <%= @task[:name]%></li>
  <li> Task completed on: <%= @task[:completion_date]%> </li>
</ul>

 <button type="button"> <%= link_to "Edit Task", edit_task_path(@task) %> </button>