<h1>TASKLIST</h1>

<table>
  <tr>
    <th>NAME</th>
    <th>CATEGORY</th>
    <th>DEADLINE</th>
    <th>COMPLETION DATE</th>
  </tr>
  <tr>
    <td><%= @task.name %></td>
    <td><%= @task.description %></td>
    <td><%= @task.completion %></td>
    <td><%= @task.completed_at %></td>
  </tr>
</table>

<h3 id="go-back"><%= link_to "Back to list", tasks_path %></h3>
