<p id="notice"><%= flash[:success] if flash[:success] %></p>
<p id="notice">
<%= flash[:success] if flash[:success] %>
<%= flash[:error] if flash[:error] %>
</p>
 <h2><%= @task.name %></h2> 
 <h3><%= @task.description %></h3> 
<h3><%= "Completed? #{@task.date_completed.nil? ? "No" : "Yes!"}"%></h3> 
<%= link_to 'Back to task list', tasks_path %>