
<h2><%= @task.name %> </h2>
<ul>
  <p><%= @task.description %></p>
  <br>
  <p class="status">Created: <%= @task.created_at.strftime("%a %D %r") %></p>
  <% if @task.due_date %>
    <p class="status">Due: <%= @task.due_date.strftime("%a %D %r") %></p>
  <% end %>
  <p class="status">Status: <%= @status %></p>
</ul>
