
<%# <p>Find me in app/views/tasks/show.html.erb</p> %>

<h2>Task: <%=@task.name%></h2>

<h3>Description: </h3>
<p>
<%= @task.description %>
<%= @task.completed %>
</p>

<%= link_to "Edit task", edit_task_path, class: "buttons_show_page" %>
<%= link_to "Delete task", task_path(@task.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "buttons_show_page" %>
