<section class="review">
<h2 class="sub_header">Task: <span><%= @task.name%></span></h2>
<article class="inner_scroll task">
    <h4>Description:</h4>
    <p><%= @task.description%></p>
    <h4>Status:</h4>
    <p class="status"> <%= @task.status%></p>
    <ul>
        <li>
            <%= link_to "UPDATE", "#update"%>
        </li>
        <li>
            <%= link_to "DELETE", "#delete"%>
        </li>
    </ul>
</article>
</section>
        