<section class="show">
  <h2>
    Task: <%= @task.task_name%>
  </h2>

  <h3>
    Description: <%= @task.description%>
  </h3>

  <h3>
    Completed: <%= @task.completed%>
  </h3>

  <%= link_to "Back to all tasks", tasks_path %> 
  <%= link_to "Update task", edit_task_path %>
  <%= link_to "Delete task", task_path(@task.id), method: :delete, data: {confirm: "Are you sure you want to delete this book??"}%> 

</section>
