<h1><%= link_to "TaskList", tasks_path %></h1>
<h2>just get it done!</h2>

<p>
    <%= @task.name %>:
    <%= @task.description %>
</p>

<h3>
    completed: <%= @task.completion_date %>
</h3>

<p class="button"><%= link_to "Edit Task", edit_task_path %></p>
<p class="button"><%= link_to "Delete", task_path(@task.id), data: { confirm: 'Your confirm message'}, method: :delete %></p>