<h2>Task details</h2>

<p>
  Task: <%= @task.name %>
</p>
<p>
  Description: <%= @task.description %>
</p>
<p>
  Due Date: <%= @task.due_date %>
</p>

<p>
<%= link_to "EDIT task", edit_task_path %> 
<%= link_to "DELETE task", task_path(@task), method: :delete, data: { confirm: "You sure?" } %>
</p>