<% if @task.nil? %>
  <h1>404 Not Found</h1>
<% else %>
  <h2>Task Details</h2>
  <p><%= "Task: #{@task.name}" %></p>
  <p><%= "Description: #{@task.description}" %></p>
  <p><%= "Completion Date: #{@task.completion}" %></p>
  <p>
    <%= link_to 'Edit', edit_task_path(@task.id) %>
  </p>
  <p>
    <%= link_to "Delete", task_path(@task.id), method: :delete, data: {confirm: "Please confirm action"} %>
  </p>
<% end %>
