<h2>
  <%= @task.name %>
</h2>

<p>
  <%= @task.description %>
</p>

<p>
<%= @task.completion_date %>
</p>

<%= button_to "Edit #{@task.name}", edit_task_path, method: :get %>

<%= link_to "Back to All Tasks", tasks_path %>
