<h1>Task Details</h1>

<h2><%= @task.name %></h2>

<p>
  Description: <%= @task.description %>
</p>

<p>
  Due Date: <%= @task.completion_date %>
</p>

<p>
  Completed on: <%= @task.completed_at %>
</p>

<ul>
  <li class="task-actions">
    <%= link_to "Mark Complete", complete_path(@task.id), method: :patch %> |
    <%= link_to "View details", task_path(@task.id) %> |
    <%= link_to "Edit", edit_task_path(@task.id) %> |
    <%= link_to "Delete", task_path(@task.id), method: :delete, data: { confirm: "Are you very sure you want to delete?" } %>
  </li>
</ul>