<h2>
  Task: <%= @task.task_name%>
</h2>

<h3>
  Description: <%= @task.description%>
</h3>

<h3>
 Date completed: <%= @task.completed%>
</h3>

<%= link_to "Back to all tasks", tasks_path %> 
<%= link_to "Update task", edit_task_path %>