<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="app_header">
      <h1>TaskList 300</h1>
    </header>
    <nav class="main_nav">
      <%= button_to "Add Task", new_task_path, :method => "get", class: "button" %>
      <%= button_to "All Tasks", tasks_path, :method => "get", class: "button" %>
    </nav>
    <div>
      <main class="tasks">
        <%= yield %>
      </main>
    </div>
    <footer>
    &copy; Kim Fasbender 2019
    </footer>
    </div>
  </body>
</html>
