<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400,800|Playfair+Display:400,900');
    </style>
  </head>

  <body>
    
  
  
    <main>
      <%= yield %>
    </main>
  </body>
</html>
