<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <Header>
    <nav>
      <ul>
        <li><%= link_to "New Task", new_task_path %></li> 
        <li><%= link_to "Task List", tasks_path %></li>
      </ul>
    </nav>
  </Header>

  <body>
  <main>  

    <%= yield %>

  </main>
  </body>

  <footer>  
  <p>© Rosalyn Development 2019</p>
  </footer>

</html>
