<!DOCTYPE html>
<html>
  <head>
    <title>Task List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <Header>

    <nav>
    <ul>
      <li>Home</li>
      <li>Add tasks</li>
      <li>Edit tasks</li>
      <li>Show tasks</li>
    </ul>
  </nav>

  </Header>
  <body>
  <main>  

    <%= yield %>

  </main>
  </body>

  <footer>  
  <p>© Rosalyn Development 2019</p>
  </footer>

</html>
