<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Ultimate Tasksnator</h1>
    </header>
    <section>
      <div>
        <%= link_to "Add Task", new_task_path %>
      </div>
      <div>
        <%= link_to "All Tasks", tasks_path%>
      </div>
    </section>
    <%= yield %>
  </body>
</html>
