<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <ul>
      <li>Navigation 1</li>
      <li>Navigation 2</li>
      <li>Navigation 3</li>
    </ul>
  </nav>
    <h2 id="header">Welcome to your Task Helper!</h2>
    <section id="body"><%= yield %></section>
    <footer> 	&copy; Angela Oh 2019 </footer>
  </body>
</html>
