<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1>Task List App</h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>© 2019 Jessica Homet</p>
    </footer>
    <nav>
      <ul>
      <%# FIX THIS %>
        <li><%= link_to "All Tasks", tasks_path %></li>
        <li><%= link_to "New Task", new_task_path %></li> 
      </ul>
    </nav>
  </body>
</html>
