<!DOCTYPE html>
<html>
  <head>
    <title> TaskList </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=The+Girl+Next+Door" rel="stylesheet">
  </head>

  <body>
    <div class = 'background'>
    <%= image_tag("https://images.unsplash.com/photo-1528938102132-4a9276b8e320?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80", :alt => "background image") %>
    </div>
    <header>
      <%= link_to 'TasksAPP ', root_path %>
      <span id='divider'> | </span>
    </header>

    <main>
     <%= yield %>
    </main>

    <footer>
     &copy; Slackers Inc
    </footer>
  </body>

</html>
