<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <header>
     <nav>
        <h1>TASKLIST \(^◡^ )/</h1>
        <sub><a href= "<%= new_task_path %>">Add Task</a></sub>
        <sub><a href= "<%= tasks_path %>">All Tasks</a></sub>
      </nav>
  </header>
  <main>
    <%= yield %>
    </main>
    <footer>
      <p>Copywrite Ada Developers Academy ~ Maria</p>
    </footer>
  </body>
</html>
