<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <header>
      <h1>Task List</h1>
      <ul>
         <li><%= link_to "TaskList", tasks_path %></li>
         <li><%= link_to "Add New Task", task_new_path %></li>
      </ul>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      &copy; Sarah Scotton 2019
    </footer>
</html>
