<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="../assets/stylesheets/normalize.css">
  </head>

  <body>
    <header>
      <h1>My task list</h1>
    </header>
    
    <main>
      <%= yield %>
    </main>

    <footer>
      <p id="copyright">&copy; 2019 Elise Pham</p>
    </footer>
  </body>
</html>
