<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">

    <header>
    insert here
    </header>
    <nav>
      <ul>
        <li>
        All tasks
        </li>
        <li>
        Add task
        </li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>

    <footer>
    2019
    </footer>
  </body>
</html>
