<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Righteous" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1>TASKER</h1>
    </header>
    <nav>
    <ul>
      <li class="rcorners yellow">
        <%= link_to "Add Tasks", new_task_path %>
      </li>
      <li class="rcorners yellow">
        <%= link_to "Task List", tasks_path%>
      </li>
    </ul>
    </nav>
    <main classs="container_scroll">
      <%= yield %>
    </main>
    <footer>
    &copy; 2019, Sav Dippolito
    </footer>
  </body>
</html>
